body {
    background-image: url('https://images3.alphacoders.com/133/thumb-1920-1330686.jpeg');
    width: 100%;
    height: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
section{
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 70%;
    margin: 0 auto;
    color: white;
}
section {
    background:linear-gradient(135deg, rgba(255,255,255, 0.1), rgba(255,255,255, 0));
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 32px;
}
header {
    text-align: center;
}
h1 {
    color: rgb(53, 5, 75);
    font-size: 40px;
}
h2 {
    color: rgb(53, 5, 75);
}
video{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
a {
    color: rgb(53, 5, 75);
    
}